.header {
	background:aliceblue url('/logo.png') no-repeat scroll center 0% / contain;
	height:100px;
	border-bottom:1px solid lightgray;
	margin-bottom:15px
}
body {
	margin:0px;
	font-size:15px;
	line-height:1.4
}
.site {
	max-width:1000px;
	margin:auto
}
.left {
	float:left;
	width:250px
}
.right {
	margin:0px 0px 0px 267px
}
.outline {
	background:aliceblue none repeat scroll 0% 0%;
	border:1px solid lightgray;
	border-radius:10px;
}
h3 {
	border-radius:9px 9px 0px 0px;
	margin:0px;
	text-align:center;
	background:rgb(85,85,85) none repeat scroll 0% 0%;
	color:white;
	padding:5px;
	border-bottom:inherit
}
.content{
	padding: 5px 10px;
}
ul {
	list-style:outside none disclosure-closed
}
input,
button,
textarea {
	background-color:white;
	border:1px solid lightgray;
	border-radius:5px;
	min-width:70px;
	padding:5px;
	margin:5px;
	outline:currentcolor none medium;
}
textarea {
	vertical-align: bottom;
}
.menu {
	margin: unset;
}
.menu dl {
	display: flex;
	flex-flow: row wrap;
	border: solid #333;
	border-width: 1px 1px 0 0;
}
.menu dt {
	padding: 2px 4px;
}
.menu dd {
	margin: 0 25px;
	padding: 2px 4px;
}

.menu dt::before {
	content: "";
	background: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%2020010904%2F%2FEN%22%0A%20%22http%3A%2F%2Fwww.w3.org%2FTR%2F2001%2FREC-SVG-20010904%2FDTD%2Fsvg10.dtd%22%3E%0A%3Csvg%20version%3D%221.0%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20width%3D%22300.000000pt%22%20height%3D%22298.000000pt%22%20viewBox%3D%220%200%20300.000000%20298.000000%22%0A%20preserveAspectRatio%3D%22xMidYMid%20meet%22%3E%0A%3Cmetadata%3E%0ACreated%20by%20potrace%201.10%2C%20written%20by%20Peter%20Selinger%202001-2011%0A%3C%2Fmetadata%3E%0A%3Cg%20transform%3D%22translate%280.000000%2C298.000000%29%20scale%280.100000%2C-0.100000%29%22%0Afill%3D%22%23000000%22%20stroke%3D%22none%22%3E%0A%3Cpath%20d%3D%22M1100%202973%20c-156%20-26%20-318%20-132%20-408%20-267%20-76%20-113%20-97%20-185%20-97%0A-331%200%20-66%203%20-135%207%20-152%20l8%20-33%20-139%200%20c-153%200%20-224%20-10%20-288%20-41%20-59%20-28%0A-121%20-94%20-152%20-159%20-26%20-55%20-26%20-57%20-26%20-305%200%20-225%202%20-254%2019%20-285%2069%20-130%0A163%20-152%20334%20-77%2086%2037%20105%2042%20172%2042%2057%20-1%2085%20-6%20116%20-22%2057%20-30%20102%20-79%20132%0A-142%2033%20-72%2029%20-176%20-11%20-244%20-82%20-140%20-232%20-175%20-402%20-93%20-44%2022%20-99%2041%20-123%0A44%20-91%2010%20-192%20-63%20-226%20-166%20-15%20-44%20-17%20-85%20-14%20-274%203%20-220%203%20-224%2031%20-279%0A32%20-66%2099%20-132%20165%20-162%20l47%20-22%20860%200%20860%200%2050%2025%20c67%2033%20131%2099%20161%20165%2021%0A45%2026%2076%2031%20180%206%20123%207%20126%2027%20120%2044%20-14%20232%20-17%20289%20-5%20162%2033%20339%20172%20410%0A321%2051%20106%2061%20151%2061%20269%200%2088%20-5%20118%20-28%20185%20-84%20249%20-313%20415%20-571%20415%20-44%0A0%20-104%20-6%20-131%20-13%20l-51%20-13%20-5%20136%20c-5%20122%20-8%20143%20-33%20198%20-34%2077%20-113%20152%0A-182%20176%20-26%209%20-83%2019%20-125%2023%20l-77%206%207%2031%20c4%2017%207%2087%207%20156%20-1%20116%20-3%20131%0A-32%20202%20-77%20194%20-229%20327%20-431%20379%20-69%2018%20-177%2023%20-242%2012z%20m247%20-278%20c73%20-32%0A153%20-111%20186%20-182%2018%20-39%2022%20-66%2022%20-148%200%20-127%20-12%20-153%20-140%20-303%20-52%20-60%0A-95%20-113%20-95%20-116%200%20-3%20133%20-6%20296%20-8%20l296%20-3%2019%20-24%20c18%20-22%2019%20-44%2019%20-377%0A0%20-210%204%20-354%209%20-354%205%200%2060%2043%20123%2096%20139%20118%20195%20147%20299%20152%20124%206%20232%20-48%0A304%20-153%2096%20-139%2078%20-323%20-42%20-443%20-69%20-69%20-130%20-95%20-231%20-100%20-129%20-6%20-175%0A16%20-351%20167%20-52%2045%20-98%2081%20-103%2081%20-4%200%20-8%20-154%20-8%20-342%200%20-337%200%20-342%20-22%0A-365%20l-21%20-23%20-804%200%20-804%200%20-24%2025%20c-25%2024%20-25%2027%20-25%20193%20l0%20170%2078%20-31%20c89%0A-35%20222%20-47%20312%20-28%20184%2040%20346%20196%20395%20382%2062%20233%20-60%20499%20-276%20602%20-161%2077%0A-298%2075%20-492%20-8%20-16%20-7%20-17%205%20-17%20158%200%20161%201%20167%2024%20194%20l24%2028%20386%203%20c212%201%0A386%205%20386%208%200%203%20-39%2053%20-86%20112%20-117%20145%20-136%20185%20-142%20292%20-5%20110%2018%20177%2090%0A256%20112%20121%20268%20155%20415%2089z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
	display: block;
	width: 20px;
	height: 20px;
	float: left;
}
.menu dd::before {
	content: "";
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 24 24'%3E%3Cpath fill='%23666' d='M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z'/%3E%3C/svg%3E") no-repeat center center;
	display: block;
	width: 20px;
	height: 20px;
	float: left;
}